ul{
    width:100%;
    }
    li{
      margin-left: 4%;
        width:100%;
    }
    form{
        width:50%;
    }
    button{
        margin-left: 5%;
    }
    .info {
  background-color: #e7f3fe;
  border-left: 6px solid #2196F3;
}