
<!-- <nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" routerLink="/home">Covid Support App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/volunteer">Volunteer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/seekhelp">Seek Help</a>
        </li>
        <li class="nav-item">
          <div class="dropdown">  
            <button type="button" class="btn btn-light">
            <a href="https://www.paypal.com/donate?hosted_button_id=KDAXAXF2B6KS6">Donate</a> 
            </button>
          </div>
        </li>
        
      </ul>
      
    </div>
  </nav> -->


          <!-- Desktop -->

  <mat-toolbar style="background: #f5f5f5">
    <mat-toolbar-row class="navbar navbar-expand-lg ">
      
        <img src="assets/landing_covid.png" width="10%" height="130%"  alt="">
      
      <!--<button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>-->
      <span style="cursor: pointer;" (click)="routeHome()"><sup style="font-style: oblique;">Covid Support</sup></span>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/volunteer">Volunteer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/seekhelp">Seek Help</a>
        </li> -->
        <li class="nav-item">
            
        </li>
        
      </ul>

      
    </div>
         
      </div>
       <div>
      <a  class="nav-link" target="_blank" href="https://www.paypal.com/donate?hosted_button_id=KDAXAXF2B6KS6">DONATE FOR THE CAUSE</a> 
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

    <!-- Mobile -->

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      
      <mat-nav-list style="width: 100%;">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
          
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li> -->
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/volunteer">Volunteer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/seekhelp">Seek Help</a>
        </li>
        <li class="nav-item">
            <a target="_blank" href="https://www.paypal.com/donate?hosted_button_id=KDAXAXF2B6KS6">Donate Us</a> 
        </li>
        
      </ul>
      
    </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill style="background-color: #e9ecef;">
      <router-outlet></router-outlet>

    </mat-sidenav-content>
  
<!-- <router-outlet></router-outlet>  
 -->
</mat-sidenav-container>





