<div class="jumbotron" style="text-align: center;height: 65vh">
    <h1 class="display-4">COVID Volunteer</h1>
        <hr class="my-4">
   

   <a class="btn btn-light" mat-stroked-button  style="min-width: 160px;color: #007bff" routerLink="/seekhelp"><i class="fa fa-plus" aria-hidden="true"></i>
SEEK HELP</a>
		        <a class="btn btn-light" mat-stroked-button  style="min-width: 160px;margin-left: 5px;color: #007bff " routerLink="/volunteer"><i class="fa fa-plus" aria-hidden="true"></i>
HELP OTHERS</a>


<a class="btn btn-light" mat-stroked-button  style="min-width: 160px;margin-left: 5px;color: #007bff " routerLink="/dashboard">
SEE WHO NEED HELP NOW</a>

<a class="btn btn-light" mat-stroked-button  style="min-width: 160px;margin-left: 5px;color: #007bff " routerLink="/dashboard-offered-help">
SEE OFFER FOR HELP</a>
</div>

<div>
	
	
</div>
