.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

/* -------------------  ELEVATION ---------------------------  */

.mat-elevation-z0 {
   position: relative;
   z-index: 2;
}

.mat-elevation-z8 {
   position: relative;
   z-index: 2;
}

mat-sidenav{
  left: 0;
  width: 50%
}

/* -------------------  NAVIGATION ---------------------------  */

.navigation-toolbar{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.navigation-fixed{
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.navigation-is-mobile .navigation-toolbar {
  position: fixed;
  z-index: 2;
}

h1.navigation-company-name {
  margin-left: 8px;
}

.navigation-sidenav-container {
  flex: 1;
}

.navigation-is-mobile .navigation-sidenav-container {
  flex: 1 0 auto;
}

.navigation-list{
  padding: 0;
  margin-left: 8px;
}

.navigation-spacer {
  flex: 1 1 auto;
}

.navigation-icon {
  padding: 0 22px;
}

.navigation-empty{
  height: 56px;
}

/* -------------------  LOGO ---------------------------  */

.logo{

  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
  position: relative;
  height: inherit;

}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #333;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #ef6603;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #bd5102;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}

html {
  scroll-behavior: smooth;
}

@import url(https://fonts.googleapis.com/css?family=Exo:100);

/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
$bg-url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC";
$bg-width: 50px;
$bg-height: 50px;

/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@-moz-keyframes    bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@-o-keyframes      bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@keyframes         bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}

@-webkit-keyframes bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}
@-moz-keyframes    bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}
@-o-keyframes      bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}
@keyframes         bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}

/* Main styles */
body {
  margin-top: 13.5rem;
  
  color: #999;
  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  text-align: center;
  /* img size is 50x50 */
  background: url($bg-url) repeat 0 0;
  
  -webkit-animation: bg-scrolling-reverse .92s infinite; /* Safari 4+ */
  -moz-animation:    bg-scrolling-reverse .92s infinite; /* Fx 5+ */
  -o-animation:      bg-scrolling-reverse .92s infinite; /* Opera 12+ */
  animation:         bg-scrolling-reverse .92s infinite; /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function:    linear;
  -o-animation-timing-function:      linear;
  animation-timing-function:         linear;
  
  &::before {
    content: "INFINITY";

    font-size: 8rem;
    font-weight: 100;
    font-style: normal;
  }
}

#cc-window .cc-compliance .cc-btn.cc-dismiss {
            position: absolute;
            top: -15px;
            right: 15px;
            text-align: right;
            margin-right: 20px;
            background-color: initial !important;
            border: 0;
            text-decoration: none;
        }
/* filling the gap */
#cc-window .cc-save {
  width:100%!important;
}


/* -------------------  LPCONTENT ---------------------------  */