<app-header></app-header>
<router-outlet></router-outlet>

 <!-- ======= Footer ======= -->
  <footer id="footer" style="width: 102%;
    margin-left: -8px;">
    <div class="container">
      <span style="font-size: 30px;font-family: 'Poppins', sans-serif;">COVID Volunteer</span>
      <p>This WebApp helps people to connect and help each during Covid crisis</p>
      <!-- <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div> -->
      <div class="copyright">
        &copy; Copyright <strong><span>Covid Volunteer</span></strong>. All Rights Reserved
      </div>
      <div>
        support : needcovidhelp@gmail.com

      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/selecao-bootstrap-template/ -->
        Designed by <span >Anton Developers</span>
      </div>
    </div>
  </footer><!-- End Footer -->