<i class="fas fa-chevron-left" style="font-size: 35px;cursor: pointer;margin-top: 7px;margin-left:10px;" (click)="routeHome()"></i>

<a class="btn btn-light" mat-stroked-button  style="width:100%;min-width: 160px;margin-top:10px;margin-bottom:10px;color: #007bff " routerLink="/dashboard">
	FILL THIS FORM TO HELP OTHERS	</a>
<!-- <mat-spinner></mat-spinner>
 -->
 <br/>
<div style="text-align:center;margin-top:10px;margin-bottom:10px;">SEE WHO NEED HELP NOW</div> 
<div *ngFor="let help of listhelp">
<mat-card>

	Name : {{help.name}}<br>
	EmailId : {{help.emailId}}<br>
	<span>Mobile no. {{help.mobContact}}</span><br>
	Address: {{help.address}}
	State: {{help.state}} 
	<span>
		Zip : {{help.zip}}
	</span>
	<br>
	<span>Help Needed for :  
		<span *ngIf="help.oxygenHelp">Oxygen<span style="margin-left: 5px;" class="checkmark"></span></span>
		<span *ngIf="help.medicineHelp">Medicine<span style="margin-left: 5px;" class="checkmark"></span></span>
		<span *ngIf="help.foodSupplyHelp">Food Supply<span style="margin-left: 5px;" class="checkmark"></span></span>
		<span *ngIf="help.financialHelp">Financial<span  style="margin-left: 5px;" class="checkmark"></span></span>
		<span *ngIf="help.bedHelp">Bed<span style="margin-left: 5px;" class="checkmark"></span></span>
		<span *ngIf="help.otherHelp">Other<span style="margin-left: 5px;" class="checkmark"></span></span>

	
	</span>

</mat-card>
<br>
</div>